body{
    margin: 0;
    background-color: black;
    overflow: visible;
}

body > iframe{
    height: 100lvh;
    width: 100%;
    border: none;
}

#eps{
    z-index: 10;
    background-color: white;
    position: absolute;
    top: 40px;
}

#eps-container{
    position: absolute;
    display: none;  
    top: 60px;
    height: 50%;
    overflow: auto;
    background-color: rgba(100, 100, 100, 0.9);
    padding: 10px;

    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

#eps-container::-webkit-scrollbar {
    display: none;
}

p{
    color: white;
}

div > a{
    text-decoration: none;
    color: white;
    display: block;
}

