body{
    margin: 0;
    background-color: black;
    overflow: hidden;
    height: 99.5lvh;

}

body > iframe{
    height: 100%;
    width: 100%;
    border: none;
}

/* Div that Contains Back, Next, Eps buttons */
.button-container{
    z-index: 10;
    background-color: transparent;
    position: absolute;
    top: 1%;
    width: 100%;
    height: 5%;
    display: flex;
}

.button-container > button{
    background: transparent;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-top: 13px;
    margin-right: 45px;
    cursor: pointer;
    border: none;
}

#eps-container{
    position: absolute;
    display: none;  
    top: 10%;
    width: 100%;
    height: 35%;
    overflow-y: scroll;
    background-color: rgba(230, 230, 230, 0.6);
    backdrop-filter: blur(.5rem);
}

#season-buttons{
    width: 100%;
    height: 3rem;
    white-space: nowrap;
    overflow: auto;
    margin: 0.5rem .2rem;
}

::-webkit-scrollbar {
    height: .4rem;
    cursor: pointer;
    filter: blur(.8);
    color: red;
}
::-webkit-scrollbar-thumb{
    background-color: gray;
    border-radius: .5rem;
}

#season-buttons > button{
    display: inline-block;
    height: 2rem;
    width: 15%;
    font-size: 1.3rem;
    margin-inline: 0.2rem;
    background-color: transparent;
    border: 1px solid;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    border-radius: .2rem;
}

#episodesScroll{
    width: 100%;
    white-space: nowrap;
    overflow: auto;
    margin: 0.5rem .2rem;

    width: 100%;
    height: 70%;
    white-space: nowrap;
    overflow-y: hidden;
    overflow: auto;
    margin: 0.5rem .2rem;
}
.epsDiv > img{
    width: 100%;
    display: inline-block;
}

.epsDiv{
    height: 100%;
    width: 25%;
    display: inline-block;
}

#season-buttons > button:hover{
    background-color: rgba(135, 135, 135, 1);
}

div > a{
    display: block;
    height: 20px;
}

#eps-container::-webkit-scrollbar {
    display: none;
}

.back-icon{
    height: 100%;
    filter: invert();
}

#next{
    display: flex;
    margin-left: auto;
}


@media (pointer:none) and (orientation: portrait), (pointer:coarse) and (orientation: portrait) {
    html {
        transform: rotate(90deg);
        transform-origin: left bottom;
        width: 100lvh; /* Fallback for browsers that do not support Custom Properties */
        width: calc(var(--vh, 1lvh) * 100);
        height: 100vw;
        overflow-x: hidden;
        position: absolute;
        top: -56.7%;
        left: 0;
    }
    body{
        margin: 0;
        background-color: black;
        overflow: hidden;
        width: 100%;
        height: 100%;
    }
    .season-buttons > button{
        width: 20%;
    }


}
