*, *::after, *::before{
    box-sizing: border-box;
}

.bg-aspect{
    background-color: rgb(0, 20, 34);
}

nav{
    height: 7%;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 5;
}

nav > * {
    flex-shrink: 0;
}

body{
    margin: 0;
}

.website-font{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

/* Main Logo (top-left) */
a > img{
    height: 60px;
    margin: 8px;
    margin-left: 0;
}

/* Nav Buttons */
.btn-size{
    height: 20px;
    width: 60px;
    margin-top: 24px;
    margin-left: 15px;
    padding: 0;
}

.btn-format{
    color: white;
    border: none;
    background: transparent;
    font-size: 16px;
    cursor: pointer;
}

.btn-format:hover{
    text-decoration: underline;
}

/* Search & Notification Buttons */
.icon-format{
    height: 20px;
    filter: invert(100%);
    margin-left: 1px;
    margin-top: 1px;

}

.right-btn{
    background: transparent;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-top: 13px;
    margin-right: 45px;
    cursor: pointer;
    border: none;
}

.to-nav-right{
    display: flex;
    margin-left: auto;
}

.hovered{
    background-color: white;
}

.icon-hovered{
    filter: invert(0%);
}

/* Search Bar Input */
.search-bar-format{
    background: white;
    border: none;
    border-radius: 2rem;
    visibility: hidden;
    transition: 0.33s;
    padding-left: 10px;
    font-size: 1rem;
    outline: none;
}

.search-bar-size{
    --sarch-bar-expand: 350;
    width: 40px;
    height: 45px; 
    margin-top: 13px;
    margin-right: -44px;
}

/* Background Image */
#background-container{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 120lvh;
    position: relative;
}

/* Featured Title Name & Description*/
h1{
    font-size: 40px;
    color: white;
    margin-top: 15%;
    margin-left: 3%;
    margin-bottom: 0;
    font-weight: 500;
    letter-spacing: 1.5px;
    max-width: 500px;

}

div > p{
    color: white;
    margin-left: 3%;
    margin-top: 1%;
    max-width: 400px;
    min-height: 50px;
    padding-bottom: 2%;
}

/* Featrued Watch Now Button */
.play-icon{
    width: 20px;
    height: 20px;
    margin-left: 10px;
    margin-top: 1px;
}

.details-icon{
    width: 20px;
    height: 20px;
    margin-left: 10px;
    margin-top: 1px;
    filter: invert(100%);
}

.watch-now-btn{
    display: flex;
    background: white;
    margin-left: 3%;
    height: 60px;
    padding-top: 18px;
    padding-left: 30px;
    border-radius: 2rem;
    width: 180px;
}

.watch-now-btn > h2{
    font-weight: 500;
    font-size: 16px;
    margin: 0;
    margin-top: -1px;
}

.details-btn{
    display: flex;
    background: transparent;
    color: white;
    margin-left: 3%;
    height: 60px;
    padding-top: 18px;
    padding-left: 30px;
    border-radius: 2rem;
    width: 180px;
    border: none;
    backdrop-filter: blur(5px);

}

.details-btn > h2{
    font-weight: 500;
    font-size: 16px;
    margin: 0;
    margin-left: 20px;
    margin-top: -1px;
}

#button-conatiner{
    display: flex;
}

#button-conatiner > button{
    transition: 0.5s;

}

#button-conatiner > button:hover{
    transform: scale(1.1);
}

/* Caseroll Section Title */
body > h2 {
    color: white;
    font-weight: 300;
    margin: 0;
    margin-top: 4%;
    margin-left: 2.5%;
}

/* Films Caseroll */
.container{
    margin-top: 0;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.slider{
    --slider-index: 0;
    display: flex;
    width: 94%;
    transform: translateX(calc(var(--slider-index) * -100%));
    flex-grow: 1;
    transition: transform 0.5s ease-in-out;
}

.slider > div{
    max-width: calc(100% / 6 - 2 * .5rem);
    min-width: calc(100% / 6 - 2 * .5rem);
    margin: .5rem;
    border-radius: 0.96rem;
    transition: .3s;
    position: relative;
}

.slider > div > img{
    height: 100%; 
    width: 100%; 
    display:block;
    border-radius: 1rem;
}

.slider > div > img:hover{
    height: 100%; 
    width: 100%; 
    display:block;
    border-radius: 1rem;
    filter: brightness(30%);
}

.slider > div > p {
    position: absolute;
    background-color: transparent;
    color: white;
    font-weight: 400;
    font-size: 1.3rem;
    z-index: 3;
    bottom: 8px;
    left: 16px;
    display: none;
    opacity: 0%;
    pointer-events: none;
}

.slider > div:hover > p {
    transition: 3s;

    opacity: 100%;
    display: block;
}


.slider > div:hover{
    transform: scale(1.05);
}

/* Scroll Buttons */
.scroll{
    flex-grow: 0;
    width: 4%;
    z-index: 2;
    border: none;
    background-color: rgba(0, 0, 0, 0.6);
    transition: 0.3s;
    margin: .5rem;
    cursor: pointer;
}

.scroll:hover{
    background-color: rgba(0, 0, 0, 0.8);
    
}

.scroll-left{
    margin-left: 0;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;

}

.left-scroll-icon{
    width: 70%;
    transform: scaleX(-1);
    filter: invert(100%);
    visibility: hidden;
    opacity: 0%;
    transition: .3s;
}

.container:hover .left-scroll-icon{
    visibility: visible;
    opacity: 90%;
}

.scroll:hover > .left-scroll-icon{
    width: 90%;
}

.scroll-right{
    margin-right: 0;
    padding: .5rem;
    border-top-left-radius: 0.9rem;
    border-bottom-left-radius: 0.9rem;
}

.right-scroll-icon{
    width: 70%;  
    filter: invert(100%);
    visibility: hidden;
    opacity: 0%;
    transition: .3s;
}

.container:hover .right-scroll-icon{
    visibility: visible;
    opacity: 90%;

}

.scroll:hover > .right-scroll-icon{
    width: 90%;
}



@media only screen and (max-width: 1200px) {
    .slider > div{
        max-width: calc(100% / 5 - 2 * .5rem);
        min-width: calc(100% / 5 - 2 * .5rem);
    }

}

@media only screen and (max-width: 920px) {
    .btn-size{
        display: none;
    }
    #notification-btn{
        display: none;
    }
    .right-btn{
        margin-right: 20px;
    }
    .slider > div{
        max-width: calc(100% / 4 - 2 * .5rem);
        min-width: calc(100% / 4 - 2 * .5rem);
    }


}

 @media only screen and (max-width: 720px) {
    .slider > div{
        max-width: calc(100% / 3 - 2 * .5rem);
        min-width: calc(100% / 3 - 2 * .5rem);
    }

    div > p{
        display: none;
    }

    h1{
        margin-bottom: 8%;
    }
}

@media only screen and (max-width: 620px) {
    .slider > div{
        max-width: calc(100% / 2 - 2 * .5rem);
        min-width: calc(100% / 2 - 2 * .5rem);
    }
    .search-bar-size{
        --sarch-bar-expand: 290;
    }
}

@media only screen and (max-width: 400px) {
    .slider > div{
        max-width: calc(100% / 2 - 2 * .5rem);
        min-width: calc(100% / 2 - 2 * .5rem);
    }
    .search-bar-size{
        --sarch-bar-expand: 250;
    }
    nav > a {
        display: none;
    }
}