.bg_colour{
    background-color: #001422;
}

header{
    height: 70px;
    z-index: 1;
    position: relative;
}

.logo{
    height: 60px;
    margin: 8px;

}

header div{
    color: white;
    font-size: 16px;
    margin: 10px;
    margin-top: 27px;
    margin-left: 20px;
}

body{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;

}

.flexed{
    display: flex;
    margin: none;
}

.search{
    filter: invert(100%);
    height: 45px;
    width: 45px;
    position: absolute;
    right: 5%;
    z-index: 1;
    margin-top: 10px;
    border-radius: 50%;    
}

.hovered{
    filter: invert(0%);
    background-color: white;
}

.search-offset{
    position: absolute;
    right: 10%;
}

#background-container {
    position: relative;
    z-index: 0;
}   

.notification-offset{
    position: absolute;
    right: 4%;
}

.icon{
    height: 20px;
    position:absolute;
    top: 28%;
    z-index: 66;
    left: 28%;
}


#search-bar{
    height: 45px;
    width: 300px;
    position: absolute;
    margin-top: 10px;
    visibility: hidden;
    opacity: 100%;
    background-color: white;
    border-radius: 2em;
    padding-left: 10px;
    border: none;

}

.search-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #cd595a;
    height: 40px;
    border-radius: 50px;
    padding: 10px;
  }
  
title{
    size: 20px;
    font-size: 40px;
    z-index: 2;
    display: flex;
    color: white;
    margin-top: 15%;
    margin-left: 3%;
    font-weight: 500;
    letter-spacing: 1px;
    z-index: 1;
    max-width: 500px;
  }

  #main-description{
    color: white;
    margin-left: 3%;
    max-width: 400px;
    min-height: 100px;
    margin-top: 10px;
  }

  .watch-now-button{
    width: 100px;
    background-color: white;
    margin-left: 3%;
    font-weight: 500;
    height: 50px;
    width: 180px;
    border-radius: 2em;
    
  }

  .over{
    transition: all 0.3s ease;  }
  .over:hover{
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

  .play-icon{
    width: 15px;
  }

  .details-button{
    width: 100px;
    margin-left: 3%;
    font-weight: 500;
    height: 50px;
    width: 150px;
    border-radius: 2em;
    color: white;
    
}

  .btn{
    color: white;
    transform: scaleX(1);
    margin-left: 25px;
    margin-top: 24px;
    height: 20px;
  }

  .btn:hover{
    text-decoration: underline;

  }

  